$bg-primary: #DAA620;
$bg-primary-900: lighten($bg-primary, 10%);
$bg-primary-800: lighten($bg-primary, 20%);
$bg-primary-700: lighten($bg-primary, 30%);
$bg-primary-600: lighten($bg-primary, 40%);
$bg-primary-500: lighten($bg-primary, 50%);
